openapi: 3.0.1

info:
  title: Summarize Text with Torchserve
  description: |
      Summarize text with finetuned models.
  version: "0.1"
servers:
  - url: https://main-summarize-torchserve-gkswjdzz.endpoint.ainize.ai
paths:
  /api/bart-base-cnn:
    post:
      tags:
      - English
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Input'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - |
                The Thankful Poor is an 1894 painting by African-American painter Henry Ossawa Tanner.\nIt shares common themes with Tanner's other paintings from the 1890s including The Banjo Lesson (1893) and The Young Sabot Maker (1895)\nThe work is based on photographs Tanner had taken, and is influenced by his views on education and race, which were in turn derived from those of his father and the African Methodist Episcopal Church.
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /api/bart-base-xsum:
    post:
      tags:
      - English
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Input'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - |
                A painting believed to be the first of its kind in the US has been discovered in a Pennsylvania school closet for more than 40 years.
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /api/bart-large-base-cnn:
    post:
      tags:
      - English
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Input'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - |
                NEW: U.S. State Department says it is "deeply concerned" about the situation.
                NEW: The U.N. Security Council condemns the attack, urges restraint.
                The attack is the latest in a string of recent attacks on Shiite mosques in Iraq.
                Iraqi security forces have been battling Sunni militants for control of Tikrit.
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /api/bart-large-base-xsum:
    post:
      tags:
      - English
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Input'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - |
                A painting that has been hidden away in a Pennsylvania school for the deaf for more than 40 years is set to be auctioned in 2020.
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /api/kobart:
    post:
      tags:
      - Korean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/KoreanInput'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - |
                인 편향(認知偏向, Cognitive bias)은 경험에 의한 비논리적 추론으로 잘못된 판단을 하는 것을 말하는데, 대니얼 카너먼과 트버스키는 인지 편향이 인간이 내리는 주요한 판단 영역에 실제적으로 영향을 미친다고 주장하였다.
                    하였다.
                    하였다.
                    하였다.
                    하였다.
                     반대하는 대니얼 카너먼과 트버스키는 인지 편향이 인간이 내리는 주요한 판단 영역에 실제적으로 영향을 미친다고 주장하였다.
                    하였다.
                    하였다.

        '400':
          description: Bad Request
        '500':
          description: Server side error
Input:
  type: object
  properties:
    text:
      type: string
      example: |
        The Thankful Poor is an 1894 painting by African-American painter Henry Ossawa Tanner. It is a genre painting of two African Americans praying at a table, and shares common themes with Tanner's other paintings from the 1890s including The Banjo Lesson (1893) and The Young Sabot Maker (1895). The work is based on photographs Tanner had taken, and is influenced by his views on education and race, which were in turn derived from those of his father and the African Methodist Episcopal Church. The painting is considered a milestone in African-American art, notably for its countering of racial stereotypes.

        Following his return to the United States in 1893, Tanner became more racially aware and chose to use artwork including The Thankful Poor as a means of portraying African-American culture in a dignified manner. Despite its popularity with critics, it was Tanner's last African-American genre work before he began to focus on biblical scenes.

        After remaining hidden for years, the painting was discovered in a storage closet of the Pennsylvania School for the Deaf in 1970, before being purchased by Camille and Bill Cosby in 1981 for their private collection. In 2020, the painting was sold by the Cosbys to Art Bridges, a foundation created by Alice Walton for loaning artwork. The Thankful Poor has been exhibited at the National Museum of African Art, and a preparatory study is held by the DuSable Museum of African American History.
    max_length:
      type: integer
      example: 100
KoreanInput:
  type: object
  properties:
    text:
      type: string
      example: |
        인지 편향(認知偏向, Cognitive bias)은 경험에 의한 비논리적 추론으로 잘못된 판단을 하는 것을 말한다. 인지심리학에서 확증 편향은 정보의 처리 과정에서 일어나는 인지 편향 가운데 하나이다. 사람들은 자신이 원하는 결과를 바라거나 어떤 사건을 접하고 감정이 앞설 때, 그리고 저마다의 신념을 지키고자 할 때 확증 편향을 보인다. 확증 편향은 원하는 정보만 선택적으로 모으거나, 어떤 것을 설명하거나 주장할 때 편향된 방법을 동원한다.

        개인들은 입력된 인식으로부터 자신만의 "주체적인 현실"을 창조한다. 객관적인 인식이 아닌 개인이 구성하는 현실은 세상을 바라보는 개인의 행동을 결정지을 수 있다. 때때로 인지편향은 개인의 합리성을 결여시키고, 개인의 지각을 왜곡시킬 수 있으며, 개인이 부정확한 판단을 내리거나, 비논리적인 해석을 겪게 만들 수 있다.

        인지 과학, 사회 심리학, 행동 경제학의 분야에서 이뤄진 지난 60년 간의 연구에 따르면, 인간의 판단과 의사결정에 대하여 지속적으로 진화하는 인지편향 목록이 확인되었다. 즉, 인간의 판단과 의사결정 과정에서 어떤 것을 설명하거나 주장할 때, 인지 편향과 같은 편향된 방법을 동원한다는 것이다. 대니얼 카너먼과 트버스키는 인지 편향이 인간이 내리는 주요한 판단 영역에 실제적으로 영향을 미친다고 주장하였다.
    max_length:
      type: integer
      example: 100
tags:
- name: English
- name: Korean
