openapi: 3.0.1

info:
  title: Summarize Text with Torchserve
  description: |
      Summarize text with finetuned BART models.
  version: "0.1"
servers:
  - url: https://main-summarize-torchserve-gkswjdzz.endpoint.ainize.ai
paths:
  /predictions/bart-base-cnn:
    post:
      tags:
      - Torch Serve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Input'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - |-
                The Thankful Poor is an 1894 painting by African-American painter Henry Ossawa Tanner.\nIt shares common themes with Tanner's other paintings from the 1890s including The Banjo Lesson (1893) and The Young Sabot Maker (1895)\nThe work is based on photographs Tanner had taken, and is influenced by his views on education and race, which were in turn derived from those of his father and the African Methodist Episcopal Church.
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /predictions/bart-base-xsum:
    post:
      tags:
      - Torch Serve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Input'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - |-
                A painting believed to be the first of its kind in the US has been discovered in a Pennsylvania school closet for more than 40 years.
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /predictions/bart-large-base-cnn:
    post:
      tags:
      - Torch Serve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Input'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - |-
                  NEW: U.S. State Department says it is "deeply concerned" about the situation.
                  NEW: The U.N. Security Council condemns the attack, urges restraint.
                  The attack is the latest in a string of recent attacks on Shiite mosques in Iraq.
                  Iraqi security forces have been battling Sunni militants for control of Tikrit.
        '400':
          description: Bad Request
        '500':
          description: Server side error
Input:
  type: object
  properties:
    text:
      type: string
      example: |
        The Thankful Poor is an 1894 painting by African-American painter Henry Ossawa Tanner. It is a genre painting of two African Americans praying at a table, and shares common themes with Tanner's other paintings from the 1890s including The Banjo Lesson (1893) and The Young Sabot Maker (1895). The work is based on photographs Tanner had taken, and is influenced by his views on education and race, which were in turn derived from those of his father and the African Methodist Episcopal Church. The painting is considered a milestone in African-American art, notably for its countering of racial stereotypes.

        Following his return to the United States in 1893, Tanner became more racially aware and chose to use artwork including The Thankful Poor as a means of portraying African-American culture in a dignified manner. Despite its popularity with critics, it was Tanner's last African-American genre work before he began to focus on biblical scenes.

        After remaining hidden for years, the painting was discovered in a storage closet of the Pennsylvania School for the Deaf in 1970, before being purchased by Camille and Bill Cosby in 1981 for their private collection. In 2020, the painting was sold by the Cosbys to Art Bridges, a foundation created by Alice Walton for loaning artwork. The Thankful Poor has been exhibited at the National Museum of African Art, and a preparatory study is held by the DuSable Museum of African American History.
    max_length:
      type: integer
      example: 100
tags:
- name: Torch Serve
